* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 100vh;
  
}

.box {
  flex: 1;
  width: 200px;
  height: 200px;
  background-color: lightblue;
}

.container :nth-child(odd) {
  background-color: rgb(65, 163, 29);
}
